.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 300;

  &:hover,
  &--hover{

  }

  &:active,
  &__active{

  }

  &--search{
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
    width: 27px;
    height: 27px;
    margin-top: 5px;
    background-image: url("../img/ico-find.png");
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &--hover{
      opacity: .7;
    }

    &:active,
    &__active{

    }
  }
}
