@font-face {
  font-family: 'pfd';
  src:  url('../font/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/pfdindisplaypro-reg-webfont.woff') format('woff'),
        url('../font/pfdindisplaypro-reg-webfont.ttf') format('truetype'),
        url('../font/pfdindisplaypro-reg-webfont.svg#font/pfdindisplaypro-reg-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'pfd', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #242424;
}

h1{

}

h2{

}

h3{

}

h4{

}

p,
li,
span{

}

strong,
b{
  font-weight: 600;
}

a{

  &:hover{

  }
}

ul{
    li{

    }
}

table{
  td{

  }
}
