.section-row{
  font-size: 0;
  margin-bottom: 70px;

  &__title{
    font-size: 25px;
    line-height: 2;
    color: #656464;
    font-weight: 400;
    margin-bottom: 20px;
    background: url("../img/line.png") no-repeat bottom left;
  }
}

.all{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 17px;
  color: #616262;
  margin-left: 25px;
  padding-right: 20px;
  background: url("../img/ico-arrow--rigth.png") no-repeat center right;

  &:hover{
    text-decoration: none;
  }

  &:active{
    opacity: .6;
  }
}

.film{
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin-right: 15px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;

  a{
    text-decoration: none;
  }

  &:last-child{
    margin-right: 0;
  }

  &:hover &__title{
    color: #5acce0;
    text-decoration: underline;
  }

  &:hover &__over{
    display: block;
  }

  &__image{
    height: 250px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
  }

  img{
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  &__title{
    font-size: 14px;
    line-height: 2;
    color: #313131;
    margin: 0;
    text-decoration: none;
  }

  &__over{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    display: none;
  }

  &__res{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 0px 7px;
    background: #5acce0;
    display: inline-block;
  }

  &__play{
    font-size: 14px;
    line-height: 2;
    padding-top: 85px;
    color: #fff;
    text-align: center;
    background: url("../img/ico-play.png") no-repeat center top;
    margin-top: 85px;
  }
}

.rate{
  font-size: 0;
  text-align: center;
  margin-top: 20px;

  i{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/ico-rait.png");
    margin: 0 5px;

    &:first-child{
      margin-left: 0;
    }

    &:last-child{
      margin-right: 0;
    }
  }

  &--1{
    i:nth-child(1){
      background-image: url("../img/ico-rait--active.png");
    }
  }

  &--2{
    i:nth-child(1),
    i:nth-child(2){
      background-image: url("../img/ico-rait--active.png");
    }
  }

  &--3{
    i:nth-child(1),
    i:nth-child(2),
    i:nth-child(3){
      background-image: url("../img/ico-rait--active.png");
    }
  }

  &--4{
    i:nth-child(1),
    i:nth-child(2),
    i:nth-child(3),
    i:nth-child(4){
      background-image: url("../img/ico-rait--active.png");
    }
  }

  &--5{
    i{
      background-image: url("../img/ico-rait--active.png");
    }
  }
}


.news-prev{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 10px 10px 0;

  &:nth-child(2n){
    margin-left: 0;
  }

  &__image{
    position: relative;
  }

  &__title{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 12px;
    background: url("../img/bg-news.png") no-repeat center;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    z-index: 20;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    z-index: 10;
    visibility: hidden;
  }

  &:hover{
    box-shadow: 0 0 0 5px #5bcde1;
  }

  &:hover::before{
    visibility: visible;
  }
}


.feedback{
  height: 340px;
}

.messages{
  height: 300px;
  margin-bottom: 20px;
}

.fedback-prev{
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #242424;
  margin-bottom: 10px;

  &--group{
    .fedback-prev__title{
      display: block;
    }
  }

  &:hover &__title{
    color: #5bcde1;
    text-decoration: underline;
  }

  &__image{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__author{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-right: 25px;
    color: #242424;
  }

  &__title{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
  }

  &__text{
    font-size: 16px;
    line-height: 19px;
    color: #242424;
    margin: 15px 0;
  }
}

.user{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  width: 100px;
  text-decoration: none;

  &__image{
    height: 100px;
    overflow: hidden;
    margin-bottom: 5px;

    img{
      width: 100%;
      display: block;
      position: relative;
      z-index: -1;
    }
  }

  &__name{
    font-size: 14px;
    line-height: 2;
    color: #313131;
    text-decoration: none;

    &--online::after{
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      background: #57c9dd;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  &:hover .user__name{
    color: #57c9dd;
    text-decoration: underline;
  }

  &:hover .user__image{
    box-shadow: inset 0 0 0 5px #5bcde1;
  }
}

.banner{
  width: 100%;
}
