/*
  Author: Sergey Popov.
  Version: 1.0.
  Last version date: 15.05.2015.
  Author URI: http://ourworkspace.ru
  Author social: https://vk.com/sergeytovarov
  Author email: tovarov.piter@gmail.com
  From Saint-Petersburg with love
*/

/* фундамент */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
figcaption,
audio,
video {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}


pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
  resize: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* переменные всех вкусов и сортов */

/*$width: 200px;*/
/* определение миксина */
/*@define-mixin icon $network, $color: blue {
    .icon.is-$(network) {
        color: $color;
        @mixin-content;
        backgroun-position: 100%;
    }
    .icon.is-$(network):hover {
        color: white;
        background: $color;
    }
}


/* применение миксинов */
/*@mixin icon twitter {
    background: url(twt.png);
}
@mixin icon youtube, red {
    background: url(youtube.png);
}*/

/* база */
/*@font-face {
  font-family: 'Gotham';
  src:  url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/GothamPro-Medium.otf') format('opentype'),
        url('../font/GothamPro-Medium.woff') format('woff'),
        url('../font/GothamPro-Medium.ttf') format('truetype'),
        url('../font/GothamPro-Medium.svg#font/GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

body{
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #242424;
}

h1,h2,h3,h4,p,
li,
span{

}

strong,
b{
  font-weight: 600;
}

a:hover,ul li,table td{

} /* половина отступа между колонками */

.row{ /* строка */
}

.row__inline{/* модифкатор для строки с inline-block */
  font-size: 0;
}

.row__inline>.col{
  display: inline-block;
  vertical-align: top;
  float: none;
}

.row__inline>.col:first-child,.row__inline>.col:last-child{
  padding: 0 10px;
}

.row__inline:after{
  display: none;
}

.row .col{/* стили колонок */
}

.row .col:first-child{
  padding-left: 0px;
}

.row .col:last-child{
  padding-right: 0px;
}

.row .col--single{/* модификатор для колонки, которая идет одна */
  margin: 0 auto;
  float: none;
}

.row:after, .row:before{
  content: "";
  display: table;
}

.row:after{
  clear: both;
}

.col{
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  min-height: 1px;
}

.s-1{
  width: 8.33%;
}
.s-2{
  width: 16.66%;
}
.s-3{
  width: 25%;
}
.s-4{
  width: 33.33%;
}
.s-5{
  width: 41.66%;
}
.s-6{
  width: 50%;
}
.s-7{
  width: 58.33%;
}
.s-8{
  width: 66.66%;
}
.s-9{
  width: 75%;
}
.s-10{
  width: 83.11%;
}
.s-11{
  width: 91.66%;
}
.s-12{
  width: 100%;
}
.s-20{
  width: 20%;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.to-left{
  float: left;
}

.to-right{
  float: right;
}
.btn{
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-weight: 300;
}
.btn:hover, .btn--hover,.btn:active, .btn__active{

}
.btn--search{
  font-size: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 27px;
  height: 27px;
  margin-top: 5px;
  background-image: url("../img/ico-find.png");
  background-repeat: no-repeat;
  background-position: center;
}
.btn--search:hover, .btn--search--hover{
  opacity: .7;
}
.btn--search:active, .btn--search__active{

}
input[type='text'],
textarea,
select,
input[type='password']{ /* поля */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  width: 220px;
  font-size: 16px;
  line-height: 20px;
  padding: 3px 10px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin-top: 5px;
}
input[type='text']:focus, textarea:focus, select:focus, input[type='password']:focus{

}

label,button {
  cursor: pointer;
}

button{
  outline: none;
}

input::-webkit-input-placeholder{

}
input::-moz-placeholde{

}

/*input[type="checkbox"],
input[type="radio"]{
  display: none;
  margin: 20px;
}

input[type="checkbox"] + label
input[type="radio"] + label{
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"] + label::before
input[type="radio"] + label::before{
  content: "";
  display: inline-block;
  height: 49px;
  width: 49px;
  margin: 0 10px 0 0;
}

input[type="checkbox"] + label::before{
  background: url("../img/") no-repeat;
}

input[type="radio"] + label::before{
  background: url("../img/") no-repeat;
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/") no-repeat;
}

input[type="radio"]:checked + label::before {
  background: url("../img/") no-repeat;
}*/
table{}

/* проект */
.page-film{
  max-width: 1400px;
  margin: 0 auto;
}

.slider{
  height: 270px;
  margin-bottom: 20px;
}
.page-header{
  background: rgba(0,0,0,0.6);
  margin-bottom: 20px;
}

.navigation{
  float: left;
  min-width: 930px;
}

.navigation__list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.navigation__item{
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.navigation__item--submenu{
  display: block;
  font-size: 17px;
  line-height: 27px;
  text-transform: none;
}

.navigation__item:hover .navigation__submenu{
  display: block;
}

.navigation__link{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.navigation__link:hover{
  background: rgba(0,0,0,0.6);
}

.navigation__link--blue{
  color: #55c6db;
}

.navigation__link--submenu{
  padding: 0 20px;
}

.navigation__link--submenu:hover{
  background: transparent;
  color: #55c6db;
}

.navigation__submenu{
  position: absolute;
  top: 41px;
  left: 0;
  background: rgba(0,0,0,0.8);
  padding-bottom: 10px;
  display: none;
  z-index: 99999;
}

.search-form{
  width: 260px;
  float: right;
  margin-right: 20px;
}
.main-footer{}
.film-row__title{
  font-size: 30px;
  line-height: 2;
  color: #656464;
  font-weight: 600;
  margin-bottom: 20px;
  background: url("../img/line.png") no-repeat bottom left;
}

.all{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 17px;
  color: #616262;
  margin-left: 25px;
  padding-right: 20px;
  background: url("../img/ico-arrow--rigth.png") no-repeat center right;
}

.all:hover{
  text-decoration: none;
}

.all:active{
  opacity: .6;
}

.film{
  display: inline-block;
  vertical-align: top;
  width: 180px;
  margin-right: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-decoration: none;
}

.film a{
  text-decoration: none;
}

.film:last-child{
  margin-right: 0;
}

.film:hover .film__title{
  color: #5acce0;
  text-decoration: underline;
}

.film__image{
  height: 250px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}

.film img{
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.film__title{
  font-size: 14px;
  line-height: 2;
  color: #313131;
  margin: 0;
  text-decoration: none;
}

.film__over{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
}

.film__res{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding: 0px 7px;
  background: #5acce0;
  display: inline-block;
}

.film__play{

}

/* контекст */
@media (max-width: 1100px) {



}
